%h1 Home#page
%p Find me in app/views/home/page.html.haml

%div#elm
  %span.elm-error
    If you can read that we have an elm error,

= javascript_include_tag 'plugins/home', "data-turbo-eval": "false", defer: true
:javascript
  function loadElm() {
    var enode = document.getElementById("elm")
      if (enode) {
        //window.elmhome=true;

        Elm.Main.init({
        flags: 1,
        node: enode
      });
    }
  }

  // alert(window.elmhome);

  document.addEventListener('turbo:load', loadElm)
