%h1 Home#page
%p Find me in app/views/home/page.html.haml

%div#elm
  %span.elm-error
    = 'Please reload if you can read it'

= javascript_include_tag 'plugins/home', "data-turbo-eval": "false"
- flag_data = {a: 1, be: 'two'}
:javascript
  function loadElm() {
    var enode = document.getElementById("elm")
    if (enode) {
      Elm.Main.init({
        flags: #{JSON.generate flag_data},
        node: enode
      });
    } else {
      // alert("no enode for Elm yet");
    }
  }

  document.addEventListener("DOMContentLoaded", loadElm)
  document.addEventListener('turbo:before-render', loadElm)
  document.addEventListener('turbo:load', loadElm)
